<div class="container">
<div class="offset-md-2 col-md-8 offset-md-2 offset-sm-1 col-sm-10 offset-sm-1 offset-lg-3 col-lg-6 offset-lg-3 offset-xl-* col-xl-6 offset-xl-* ">
    <form>  
      <div class="imgcontainer">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email Addres" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#d4d4d4">
        <button type="reset" class="cancelbtn">Cancel</button>
        <span class="psw">New ? <a routerLink="/register">Register here.</a></span>
      </div>
    </form>
  </div>

</div>
